.menulateral {
    background: var(--cor-destaque);
    position: absolute;
    right: 30px;
    top: 200px;
    z-index: 1;
    border-radius: 30px;
}

.menulateral ul li a span{
    font-size: 48px;
    padding: 10px, 5px;
}
.menulateral ul li a span:hover{
    color: #ddd;
}
.menulateral ul li a span.active{
    color: var(--cor-clara);
}
@media screen and (max-width: 720px) {
    .menulateral {
        background: var(--cor-destaque);
        position: absolute;
        right: 30%;
        top: 670px;
        z-index: 1;
        border-radius: 30px;
    }
   .menulateral ul {
    display: flex;
    flex-direction: row;
   }
}
@media screen and (max-width: 520px) {
    .menulateral {
        background: var(--cor-destaque);
        position: absolute;
        right: 25%;
        top: 670px;
        z-index: 1;
        border-radius: 30px;
    }
   .menulateral ul {
    display: flex;
    flex-direction: row;
   }
}
@media screen and (max-width: 450px) {
    .menulateral {
        background: var(--cor-destaque);
        position: absolute;
        right: 15%;
        top: 670px;
        z-index: 1;
        border-radius: 30px;
    }
   .menulateral ul {
    display: flex;
    flex-direction: row;
   }
}
@media screen and (max-width: 400px) {
    .menulateral {
        background: var(--cor-destaque);
        position: absolute;
        right: 10%;
        top: 670px;
        z-index: 1;
        border-radius: 30px;
    }
}