@import url(reset.css);
@import url(variaveis.css);
@import url(details-about-page.css);

.warp {
    background: var(--cor-bg);
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}
img {
    height: 300px;
}
.box-menu {
    background: var(--cor-destaque);
    width: 300px;
    height: 435px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-menu ul {
    text-transform: uppercase;
    text-align: center;
}
.box-menu ul li {
    margin-bottom: 15px;
}