.titulo {
    border: 2px dotted var(--cor-escura);
    font-size: 3.75rem;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: var(--cor-escura);
    padding: 15px 50px;
    text-align: center;
}
.site-top {
    margin-top: 40px;
    margin-bottom: 2rem;
}
.site-top .sub-title {
    margin-top: 32px;
    font-size: 2rem;
    font-weight: bold;
}