:root{
    --cor-destaque: #fac231;
    --cor-principal: #333;
    --bg-claro: #eee;
    --bg-escuro: #4d4a4a;
    --bg-mais-escura: #111;
    --cor-clara: #eee;
    --cor-escura: #111;
}
.cor-destaque{
    color: var(--cor-destaque);
}

.bg-destaque{
    background: var(--cor-destaque);
}