.espaco-grande{
    margin-bottom: 5rem;
}
.espaco-medio{
    margin-bottom: 2.5rem;
}
.espaco-pequeno{
    margin-bottom: 1.25rem;
}
@media screen and (max-width: 601px) {
    .espaco-grande{
        margin-bottom: 3rem;
    }
    .espaco-medio{
        margin-bottom: 1.5rem;
    }
    .espaco-pequeno{
        margin-bottom: .625rem;
    }
}