body{
    height: 97vh;
    width: 30vw;
}
.photo{
    height: 40vh;
    width: 20vw;
}
.site-map{
    height: 60vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cor-destaque);
}
.menu-site-map{
    text-align: center;
}
.menu-site-map ul li{
    padding: 10px;
}
.menu-site-map ul li{
    transition: 300ms;
}
.menu-site-map ul li a:hover{
    color: var(--cor-clara);
}
.active{
    color: var(--cor-clara);
}