.letra-grande{
    font-size: 6rem;
    font-weight: bold;
}
.letra-media{
    font-size: 4rem;
    font-weight: bold;
}
.letra-media-dois{
    font-size: 3rem;
    font-weight: bold;
}
.corpo-de-texto{
    font-size: 2rem;
    font-weight: bold;
}
.letra-pequena{
    font-size: 1.6rem;
    font-weight: bold;
}

.texto-geral{
    font-family:'Roboto';
}
.texto-especial{
    font-family: 'Corinthia';
}
.sombra-texto{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
;
}
@media screen and (max-width: 1081px) {
    .corpo-de-texto{
        font-size: 1.5rem;
    }
    .letra-media{
        font-size: 3rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 601px) {
    .corpo-de-texto{
        font-size: 1.5rem;
    }
    .letra-media{
        font-size: 2.5rem;
        font-weight: bold;
    }
}