.letra-grande{
    font-size: 3.75rem;
    font-weight: bold;
}
.letra-media{
    font-size: 2.5rem;
    font-weight: bold;
}
.letra-media-dois{
    font-size: 2rem;
    font-weight: bold;
}
.corpo-de-texto{
    font-size: 1.25rem;
    font-weight: bold;
}
.letra-pequena{
    font-size: 0.625rem;
    font-weight: bold;
}

.texto-geral{
    font-family:'Roboto';
}
.texto-especial{
    font-family: 'Corinthia';
}
.sombra-texto{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
;
}
@media screen and (max-width: 1500px) {
    .letra-grande{
        font-size: 3rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 1210px) {
    .letra-grande{
        font-size: 2.5rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 1035px) {
    .letra-grande{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .esconder{
        display: none;
    }
    .letra-media-dois{
        font-size: 1.75rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 860px) {
    .letra-grande{
        font-size: 2.5rem;
        font-weight: bold;

    }
    .esconder{
        display: none;
    }
    .letra-media-dois{
        font-size: 1.25rem;
        font-weight: bold;
    }
}