.letra-grande{
    font-size: 3.75rem;
    font-weight: bold;
}
.letra-media{
    font-size: 2.5rem;
    font-weight: bold;
}
.letra-media-dois{
    font-size: 2rem;
    font-weight: bold;
}
.corpo-de-texto{
    font-size: 1.25rem;
    font-weight: bold;
}
.letra-pequena{
    font-size: 0.625rem;
    font-weight: bold;
}

.texto-geral{
    font-family:'Roboto';
}
.texto-especial{
    font-family: 'Corinthia';
}
.sombra-texto{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
;
}
